{% extends "gratitude/base3.html" %}
{% load gratitude_tags %}



{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>

    {% if post.foto %}
        <img src="{{ post.foto.url }}" width="800" height="400" border="5">
    {% else %}
    {% endif%}

  
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
 <h3> {{ post.body|markdown }} </h3>
  <p>
    <a href="{% url "gratitude:post_share" post.id %}">
      Compartilhe esta postagem!
    </a>
  </p>
  <h2>Postagens Similares</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
  {% empty %}
    Não há postagens similares ainda.
  {% endfor %}

  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comentarios
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
        <h3>Comentario {{ forloop.counter }} por {{ comment.name }} </h3>
        {{ comment.created }}
        <p></p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>Ainda não tem comentários para este post.</p>
  {% endfor %}
  {% if new_comment %}
    <h2>Seu comentário foi publicado.</h2>
  {% else %}
    <h2>Adicione um comentario</h2>
    <form method="post">
      {{ comment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Adicionar commentario"></p>
    </form>
  {% endif %}
{% endblock %}