{% extends "gratitude/base3.html" %}
{% load gratitude_tags %}

{% block title %}Procurar{% endblock %}

{% block content %}
  {% if query %}
    <h1>Postagens contendo "{{ query }}"</h1>
    <h2>
      {% with results.count as total_results %}
          Encontrado(s) {{ total_results }} resultado(s):{{ total_results|pluralize }}
      {% endwith %}
    </h2>
    {% for post in results %}
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
      <h3>  {{ post.created }}</h3>
       <h4> {{ post.body|markdown|truncatewords_html:5 }}</h4>
    {% empty %}
      <p>Sem resultados para esta busca.</p>
    {% endfor %}
    <p><a href="{% url "gratitude:post_search" %}">Nova busca</a></p>
  {% else %}
    <h1>Procure por postagens</h1>
    <form method="get">
      {{ form.as_p }}
      <input type="submit" value="Procurar">
    </form>
  {% endif %}
{% endblock %}